<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SellNest</title>
  <style>
      body {
          font-family: 'Helvetica Neue', sans-serif;
          margin: 0;
          padding: 0;
          background-color: #eef2f3;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          height: 100vh;
      }
      .header {
          width: 100%;
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          padding: 10px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .header h1 {
          color: #333;
          margin: 1px;
      }
      .buttons {
          display: flex;
          gap: 10px;
      }
      button {
          background-color: #ffbd00;
          color: black;
          border: none;
          padding: 10px 15px;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s, box-shadow 0.3s;
      }
      button:hover {
          background-color: #3949AB;
          box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      }
      main {
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      main p {
          color: #666;
          font-size: 1.2rem;
      }
  </style>
</head>
<body>
<div class="header">
  <h1>SellNest</h1>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Create Login", new_user_registration_path %>
</div>
<main>
  <p>An online platform where Hawkeyes can buy and sell online</p>
</main>
</body>
</html>
