/* app/assets/stylesheets/cart.css */
.cart-container {
    width: 100%;
    margin: auto;
}


.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}




.carousel-container {
    position: relative; /* This allows absolute positioning inside */
    width: 18%;
}

.cart-table thead {
    background-color: #f4f4f4;
}

.cart-table th,
.cart-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.cart-table th {
    font-weight: bold;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.carousel-image {
    width: 100%;
    display: block;
}

.remove-button:hover {
    background-color: #ff3333;
}
