body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    text-align: center;
    width: 400px; /* Adjust width as needed */
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    margin-top: -50px; /* Adjust as needed */
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(212, 175, 55, 0.5); /* Gold shadow */
}

h2 {
    color: #f6cb3f
}

h1 {
    color: #f6cb3f;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
    color: #f6cb3f;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #f6cb3f;
    box-sizing: border-box;
    background-color: #000000;
}
input[type="submit"] {
    background-color: #ffd700;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
input[type="submit"]:hover {
    background-color: #b8860b;
    transform: scale(1.05);
}
.text-logo {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #f6cb3f;
    text-decoration: none;
    margin-bottom: 20px;
}
.text-logo:hover{
    color: #fff200;
}
.horizontal-tags-list {
    display: flex;
    flex-wrap: wrap; /* Allow tags to wrap onto the next line */
    gap: 8px; /* Adjust the space between tags */
}

.selected-tag {
    display: inline-block;
    /*background-color: #eaeaea;*/
    padding: 4px 8px;
    margin-bottom: 8px; /* Adjust vertical spacing between tags */
    border-radius: 4px;
}

.add-tag-btn {
    background-color: #ffd700;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.add-tag-btn:hover {
    background-color: #b8860b;
    /* Scale the button on hover */
}

.remove-tag {
    background-color: #d9534f; /* Lighter shade of red */
    color: #000000; /* Text color */
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, color 0.3s;
}

.remove-tag:hover {
    background-color: #c9302c; /* Slightly darker shade of red on hover */

    transform: scale(1.05); /* Scale the button on hover */
}
.profit{
    color: #f6cb3f;
}
.form-control{
    background-color: black;
    color: #f6cb3f;
    border: 1px solid #f6cb3f;
}
.tag-dropdown{
    background-color: black;
    color: #f6cb3f;
    border: 1px solid #f6cb3f;
}
.tag-names{
    color: #f6cb3f;
}
input[type="text"],
textarea,
select {
    background-color: black;
    color: #f6cb3f;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    background-color: black;
    color: #f6cb3f;
}

.description, select{
    background-color: black;
    color: #f6cb3f;
}
.description:focus, select:focus{
    background-color: black;
    color: #f6cb3f;
}
